.movies {
  grid-area: content;
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'search'
    'cards'
    'more-button';
  justify-items: center;
  grid-template-rows: min-content;
}

.movies__not-found {
  margin: 0;
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--color-font-second);
}

.movies__sectoin_more {
  grid-area: more-button;
  padding: 50px 0 80px;
  box-sizing: border-box;
}

.movies__button-more {
  padding: 0;
  min-width: 320px;
  min-height: 36px;
  background-color: var(--color-search);
  color: var(--color-font-main);
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity .1s ease-out;
}

.movies__button-more:hover,
.movies__button-more:active {
  opacity: .8;
}

.movies__button-more_visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 800px) {
  .movies {
    padding: 0 30px;
  }
}

@media (max-width: 500px) {
  .movies {
    padding: 0 10px;
  }

  .movies__button-more {
    min-width: 240px;
  }
}