.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000004d;
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s linear,
    opacity .4s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 450px;
  min-height: 250px;
  padding: 10px 10px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  background-color: var(--color-background);
  border-radius: 3px;
}

.popup__button-close {
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  align-self: flex-end;
  background-color: transparent;
  background-image: url('../../images/button-close.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .1s ease-out;
}

.popup__button-close:hover,
.popup__button-close:active {
  opacity: .8;
}

.popup__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(22 / 20);
}

.popup__message {
  margin: 50px 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--color-red);
}

@media (max-width: 600px) {
  .popup__container {
    width: 280px;
  }
}