.app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    'header'
    'content'
    'footer';
  justify-items: center;
}

